# The following file types and individual file will be ignored tracking by the git :
*.DS_Store
*.o
*.obj
*.exe
*.xcuserdatad
*.xcworkspace
*.project


*.xcuserstate
*.inc
*.htm
*.idb
*.manifest
*.dep
*.d
*/private/*.*
*.xml

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/.project
/Study_Class/Study_Class/build/
/Study_Class/Study_Class/dist/
/class_function_template/class_function_template/build/
/class_function_template/class_function_template/dist/